<!-- liste appareils -->

      <h2>Mes appareils</h2>
      <p>Mis a jour: {{ lastUpdate | async | date: 'short' | uppercase }}</p>
      <ul class="list-group" style="text-align:left">
        <app-appareil *ngFor="let appareil of appareils; let i = index"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"
                      [index]="i"
                      [id]="appareil.id"></app-appareil>

      </ul>
      <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button>
      <button class="btn btn-success" (click)="onEteindre()">Tout eteindre</button>

